
    p {
        color:white;
        background-color: cadetblue;
        width: 100%;
        text-align: justify;
    }
    .deux {
         background-color: blue;
    }
    body {
        background-color: aqua;
    }
    img {
        height: 400px;
        border-style: solid;
        border-width: 4px;
        border-color: white;
        border-radius: 10px;
        padding:40px
    }

    .boite1{
        border-style:solid;
        border-width:3px;
        width: 500px;
    }